<!DOCTYPE html>
<html lang="pl-PL">

    <head>
      <script type="application/javascript" src="/js/validationCommon.js"></script>
      <link rel="stylesheet" href="/css/style.css">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>MovieWeb</title>
    </head>
    
    <body>
      <header>
        <h1>MovieWeb</h1>
        <img src="/images/logo.jpg" alt="MovieWeb Logo">
      </header>
      <nav>
        <ul>
          <li><a href="/" class="<%= navLocation == 'main' ? 'active' : '' %>">Strona główna</a></li>
          <li><a href="/actors" class="<%= navLocation == 'actor' ? 'active' : '' %>">Aktorzy</a></li>
          <li><a href="/roles" class="<%= navLocation == 'role' ? 'active' : '' %>">Role</a></li>
          <li><a href="/films" class="<%= navLocation == 'film' ? 'active' : '' %>">Filmy</a></li>
        </ul>
      </nav>